In [1]:
!pip install numpy pandas matplotlib seaborn

Requirement already satisfied: numpy in c:\users\luuvi\miniconda3\lib\site-packages (2.2.3)
Requirement already satisfied: pandas in c:\users\luuvi\miniconda3\lib\site-packages (2.2.3)
Requirement already satisfied: matplotlib in c:\users\luuvi\miniconda3\lib\site-packages (3.10.0)
Requirement already satisfied: seaborn in c:\users\luuvi\miniconda3\lib\site-packages (0.13.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\luuvi\miniconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\luuvi\miniconda3\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\luuvi\miniconda3\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\luuvi\miniconda3\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\luuvi\miniconda3\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\luuvi\miniconda3\lib\site-packages (from matplotlib) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\luuvi\miniconda3\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\luuvi\miniconda3\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\luuvi\miniconda3\lib\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\luuvi\miniconda3\lib\site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: six>=1.5 in c:\users\luuvi\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('data/brfss_data.csv')
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Columns: 350 entries, _STATE to _DRNKDRV
dtypes: float64(292), int64(58)
memory usage: 1.1 GB

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,DROCDY4_,_RFBING6,_DRNKWK2,_RFDRHV8,_FLSHOT7,_PNEUMO3,_AIDTST4,_RFSEAT2,_RFSEAT3,_DRNKDRV
0,1,1,3012023,3,1,2023,1100,2023000001,2023000001,1.0,...,0,1,0,1,2.0,2.0,2.0,1,1,9
1,1,1,1062023,1,6,2023,1100,2023000002,2023000002,1.0,...,0,1,0,1,1.0,1.0,2.0,1,1,9
2,1,1,3082023,3,8,2023,1100,2023000003,2023000003,1.0,...,0,1,0,1,1.0,1.0,2.0,1,1,9
3,1,1,3062023,3,6,2023,1100,2023000004,2023000004,1.0,...,0,1,0,1,1.0,1.0,1.0,1,1,9
4,1,1,1062023,1,6,2023,1100,2023000005,2023000005,1.0,...,7,1,47,1,2.0,1.0,2.0,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433318,78,12,12112023,12,11,2023,1100,2023002064,2023002064,NaN,...,71,2,1500,2,2.0,2.0,1.0,1,2,2
433319,78,12,1032024,1,3,2024,1100,2023002065,2023002065,NaN,...,0,1,0,1,NaN,NaN,1.0,1,1,9
433320,78,12,12132023,12,13,2023,1100,2023002066,2023002066,NaN,...,3,1,47,1,NaN,NaN,1.0,1,1,2
433321,78,12,12082023,12,8,2023,1100,2023002067,2023002067,NaN,...,0,1,0,1,2.0,2.0,2.0,1,1,9
433322,78,12,12112023,12,11,2023,1100,2023002068,2023002068,NaN,...,67,2,933,1,NaN,NaN,2.0,1,2,2